@use 'sass:map';
@use 'sass:meta';
@use 'mixins' as *;
@layer components {
	@each $name, $boundary in breakpoints() {
		$selector: '.offcanvas';
		$region: meta.get-mixin('breakpoint-up');
		@if $boundary != 0 {
			$selector: '.offcanvas-#{$name}';
			$region: meta.get-mixin('breakpoint-down');
		}
		#{$selector} {
			@include meta.apply($region, $name) {
				position: fixed;
				@include transition(transform 1s);
				&.offcanvas-start { left: 0; }
			}
		}
	}
}
